[Unit]
Description=Telegram Logistics Statistics Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/projects/tg-stat-bot
ExecStart=/root/projects/tg-stat-bot/venv/bin/python bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
